<div class="section limiter">
    {{ page.content}}

    <section class="categories">
      <div>
        <img src="{{ url(page.header.leftImage|keys|first) }}" alt="">   
      </div>
      <div class="bg-info">
        <div>
          <h1>{{ page.header.sectionTitle }}</h1>
          {% if grav.language.getActive == 'es' %}
          <a class="button button-pink"href="{{base_url}}{{header.redirectPage}}">Ver más</a>
          {% endif %}
        </div>
      </div>
      {% if (page.header.rightImage|first).path %}
        <div>
          <img class="last-image" src="{{ url(page.header.rightImage|keys|first) }}" alt="">
        </div>
      {% endif %}    
    </section> 
    {% if grav.language.getActive == 'en' %}
      <a href="{{base_url}}{{header.redirectPage}}">More</a>
    {% endif %}
</div>


