 {% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    
    {% block stylesheets %}
        {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
        {% do assets.addCss('theme://css/aboutUs.css', 97) %}
        {% do assets.addCss('theme://css-compiled/styles.css', 96) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
    {% do assets.addJs('https://code.jquery.com/jquery-1.8.3.min.js', 101) %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://js/vega.js') %}
    {% endblock %}
    {{ assets.js() }}
    {% include 'partials/langswitcher.html.twig' %}
{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <div class="header">
        <div class="wrapper padding">
            <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">
                <img class="logo-image" src="{{url('theme://img/logo-Vega.png')}}" alt="logo Vega Navascués">
                <p class="name-logo">{{ config.site.title }}</p> 
            </a>
            {% block header_navigation %}
            <nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="body">
        <div class="wrapper padding">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container-info-footer">
           
            <div class= "questions-footer">
                <h3>Preguntas Frecuentes</h3>
                <p>¿Cómo puedo comprar una joya de 
                Vega Navascués?</p>
                <p>¿Qué características tiene la plata?</p>
                <p>¿Qué tipos de plata hay?</p>
                <a href="#">Ver más <strong>Preguntas Frecuentes</strong></a>
            </div>
            <div class= "care-footer">
                <h3>Cuidado de piezas</h3>
                <p>Precauciones</p>
                <p>Limpieza</p>
                <p>Conservación</p>
            </div>
            <div class="contact-footer">
                <h3>Contacto</h3>
                <p>¿Nos quiere preguntar algo?</p>
                <p>¿Tiene una tienda y le gustaría mostrar nuestras joyas en su escaparate?</p>
                <p>Aquí le dejamos nuestro contacto para que hablemos.</p>
                <a href="https://www.facebook.com/VegaNavascues/"><img class="social-media svg" src="{{url('theme://img/facebook-logo.svg')}}" alt="logo facebook"></a>
                <a href="https://www.pinterest.ca/veganavascues/vega-navascu%C3%A9s-joyer%C3%ADajoyeriajewelry/"><img class="social-media svg" src="{{url('theme://img/pinterest-logo.svg')}}" alt="logo pinterest"></a>
                <a href="veganavascues@gmail.com"><img class="social-media svg" src="{{url('theme://img/email-logo.svg')}}" alt="logo email"></a>
                <a href="#"><img class="social-media svg" src="{{url('theme://img/behance-logo.svg')}}" alt="logo behance"></a>
                <a href="https://www.instagram.com/veganavascues_joyeria/"><img class="social-media svg" src="{{url('theme://img/instagram-logo.svg')}}" alt="logo instagram"></a>
                <a href="https://www.etsy.com/es/shop/VegaNavascues?ref=profile_shopicon"><img class="social-media svg" src="{{url('theme://img/etsy-logo.svg')}}" alt="logo etsy"></a>   
            </div>
            
            <div class="logo-footer">
                <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">
                    <img class="logo-image" src="{{url('theme://img/logo-Vega.png')}}" alt="logo Vega Navascués">
                    <h1 class="name-logo">{{ config.site.title }}</h1> 
                </a> 
            </div>
        </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
