{% if truncate %}
<!-- se muestra si es la lista de categorías -->
<div class="limiter">
	<div class="jewel-list-item">
		<div class="jewel-item jewel-image-item">
			<img src="{{ url(page.header.myJewel|keys|first) }}" alt="">
	
			<div class="jewel-description-desktop">
				<span>
	        		<h3>{{ page.title }}</h3>
			
	        		{% if grav.language.getActive == 'es' %}
						<p>Precio: {{ page.header.price }}</p>
	    			{% endif %}
			
	        		{% if grav.language.getActive == 'en' %}
						<p>Price: {{ page.header.price }}</p>
					{% endif %}
					
					{% if grav.language.getActive == 'es' %}
						<a class="button button-blue" href="{{ page.url }}">Ver más detalles</a>
	    			{% endif %}
					{% if grav.language.getActive == 'en' %}
						<a class="button button-blue" href="{{ page.url }}">Read More</a>
	    			{% endif %}
				</span>
			</div>
	
		</div><div class="jewel-item jewel-description-item">
	        <h3>{{ page.title }}</h3>
	
	        {% if grav.language.getActive == 'es' %}
				<p>Precio: {{ page.header.price }}</p>
	    	{% endif %}
	
	        {% if grav.language.getActive == 'en' %}
				<p>Price: {{ page.header.price }}</p>
			{% endif %}
			
			{% if grav.language.getActive == 'es' %}
				<a class="button button-blue" href="{{ page.url }}">Ver más detalles</a>
	    	{% endif %}
			{% if grav.language.getActive == 'en' %}
				<a class="button button-blue" href="{{ page.url }}">Read More</a>
	    	{% endif %}
	
		</div>
	
	</div>
</div>

{% else %}
<!-- se muestra si es el detalle de la categoría -->

	{% embed 'partials/base.html.twig' %}

	{% block content %}
		<div class="limiter">
			
			<div class="slider">
				{% include 'modular/lightslider.html.twig' %}
			</div>
    		<div class="jewel-details-node">
				
				
    		    <h1>{{ page.title }}</h1>
	
				{% if page.content %}
					<div class="jewel-details">
						{% if grav.language.getActive == 'es' %}
							<h2>Descripcion y Detalles</h2>
    					{% endif %}
    					{% if grav.language.getActive == 'en' %}
							<h2>Descripcion and Details</h2>
    					{% endif %}
			
    		    		{{ page.content}}
    		    	</div>
				{% endif %}
				
				
				
				{% if header.price %}
					<div class="jewel-details">
	
						{% if grav.language.getActive == 'es' %}
							<h3>Precio: {{ header.price }}</h3>
    					{% endif %}
			
    		    		{% if grav.language.getActive == 'en' %}
							<h3>Price: {{ header.price }}</h3>
						{% endif %}

					</div>
				{% endif %}

				{% if grav.language.getActive == 'es' %}
					<h3>Contáctenos:</h3>
					<p>Correo:</p>
					<a href="veganavascues@gmail.com">veganavascues@gmail.com</a>
    			{% endif %}

				{% if grav.language.getActive == 'en' %}
					<h3>Contact us:</h3>
					<p>Mail:</p>
					<a href="veganavascues@gmail.com">veganavascues@gmail.com</a>
    			{% endif %}
		
			</div>
		</div>

	{% endblock %}

	{% endembed %}
{% endif %}